.header-project {
  width: 100%;
  padding: 0 8.5%;
  position: fixed;
  z-index: 999;
  height: 80px;
  background: $clr-white;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;

  .header-logo {
    cursor: pointer;
    height: 30px;
    width: auto;
    display: inline-block;
    transition: transform 0.2s ease-in-out;

    img {
      height: 100%;
      width: auto;
    }

    &:hover {
      transform: rotate(90deg);
      transition: transform 0.2s ease-in-out;
    }
  }
  
  .header-pagination {
    display: flex;
    justify-content: space-between;
    flex-direction: row;

    .pagination-prev,
    .pagination-next {
      display: flex;
      justify-content: center;
      align-items: center;
      overflow: hidden;
      margin-left: 30px;
      cursor: pointer;

      img {
        display: block;
        height: 25px;
      }
    } 

    .pagination-next {

      img {
        transform: rotate(180deg);
      }
    }
  }
}