.header-project {
  position: fixed;
  z-index: 5;

  width: 100%;
  padding: 0 8.5%;
  height: 80px;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;

  .header-logo {
    cursor: pointer;
    height: 30px;
    width: auto;
    display: inline-block;

    img {
      height: 100%;
      width: auto;
    }
  }

  @media only screen and (max-width: 1200px) {
    position: relative;
    padding: 0;
  }
  
  .header-pagination {
    display: flex;
    justify-content: space-between;
    flex-direction: row;

    .pagination-prev,
    .pagination-next {
      display: flex;
      justify-content: center;
      align-items: center;
      overflow: hidden;
      margin-left: 30px;
      cursor: pointer;

      img {
        display: block;
        height: 25px;
      }
    } 

    .pagination-next {

      img {
        transform: rotate(180deg);
      }
    }
  }
}