@import './header.scss';
@import './presentation.scss';
@import './gallery.scss';

.flex-container {
  margin-top: 80px;
  position: relative;
  display: flex;

  @media only screen and (max-width: 1200px) {
    flex-direction: column;

    .presentation {
      position: relative;
    }

    .gallery {
      width: 100%;
      display: flex;
      margin-left: 0;
    }
  }

  @media only screen and (max-width: 767px) {
    margin-top: 0;
  }
}