// IMPORT GOOGLE FONTS
@import url("https://fonts.googleapis.com/css?family=Lobster:400|Roboto:400,700|Source+Sans+Pro:400,700");

// COLORS
$clr-primary: rgba(0, 19, 71, 1);
$clr-dark: rgba(51, 51, 51, 1);
$clr-white: rgba(255, 255, 255, 1);
$clr-grey: rgba(112, 112, 112, 1);
$clr-secondary: rgba(46, 229, 157, 1);

// FONT MIXINS
@mixin h1 {
  font-family: 'Lobster', cursive;
  font-size: 120px;
  color: $clr-primary;
}

@mixin h2 {
  font-family: 'Lobster', cursive;
  font-size: 60px;
  color: $clr-primary;
}

@mixin h3 {
  font-family: 'Lobster', cursive;
  font-size: 42px;
  color: $clr-primary;
}

@mixin h4 {
  font-family: 'Source Sans Pro', 'Roboto', sans-serif;
  font-size: 28px;
  color: $clr-dark;
}

@mixin text {
  font-family: 'Source Sans Pro', 'Roboto', sans-serif;
  font-size: 16px;
  color: $clr-dark;
  line-height: 1.5;
}