.footer {
  padding: 100px 10%;
  width: 100%;
  background: transparent;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  color: $clr-white;
  background: $clr-primary;
  font-size: 1.5rem;

  a {
    text-decoration: none;
    color: $clr-secondary;
    font-weight: 600;
  }

  @media only screen and (max-width: 700px) {
    flex-direction: column;

    #footer-1 {
      order: 2;
    }
    #footer-2 {
      order: 1;
      font-weight: 600;
    }
    #footer-3 {
      margin-top: 20px;
      order: 3;
    }
  }
}