.container {
  margin-top: 80px;
}

.header {
  width: 100%;
  padding: 0 8.5%;
  height: 80px;
  position: fixed;
  z-index: 999;
  background: $clr-white;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;

  .header-logo {
    cursor: pointer;
    height: 30px;
    width: auto;
    display: inline-block;
    transition: transform 0.2s ease-in-out;

    img {
      height: 100%;
      width: auto;
    }

    &:hover {
      transform: rotate(90deg);
      transition: transform 0.2s ease-in-out;
    }
  }

  .header-burger {
    cursor: pointer;
    width: 30px;
    height: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;

    span {
      display: block;
      width: 30px;
      height: 4px;
      background: $clr-dark;
    }
  }

  .header-menu {
    display: flex;
    flex-direction: row;
  }

  .header-link {
    padding: 5px 15px;
    text-decoration: none;
    color: $clr-primary;
    font-weight: 700;
    text-transform: uppercase;
    transition: all 0.2s ease-in-out;
    border: 1px solid transparent;
    margin-right: 15px;

    &:hover {
      border: 1px solid $clr-primary;
      color: $clr-secondary;
    }
  }


  .header-anchor {
    display: flex;
    align-items: center;
    padding: 5px 15px;
    color: $clr-primary;
    text-decoration: none;
    font-weight: 700;
    text-transform: uppercase;
    transition: all 0.2s ease-in-out;
    border: 1px solid transparent;
    
    &:hover {
      border: 1px solid $clr-primary;
      color: $clr-secondary;
    }

    img {
      width: auto;
      height: 14px;
      margin-left: 10px;
    }
  }
}