.hero {
  width: 100%;
  padding-top: 150px;
  margin-bottom: 100px;

  .hero-title {
    @include h1;
  }

  .hero-subtitle {
    @include h4;

    span {
      font-weight: 700;
      color: $clr-primary;
    }
  }

  @media only screen and (min-width: 500px) {
    min-height: 60vh;
    margin-bottom: 100px;
  }
}