.what {
  margin-bottom: 100px;

  .what-title {
    @include h2;
    margin-bottom: 32px;
  }

  .what-content {
    margin-bottom: 100px;

    p {
      margin-bottom: 22px;

      span {
        font-weight: 700;
        color: $clr-primary;
      }
    }
  }

  .what-skills {
    margin-bottom: 50px;
    display: flex;
    flex-wrap: wrap;

    li {
      margin: 0 40px 20px 0;
      width: 235px;
      list-style: none;

      span {
        font-weight: 700;
        text-transform: uppercase;
        line-height: 2;
        color: $clr-primary;
      }
    }
  }

  @media only screen and (min-width: 1200px) {
  

    .what-flex {
      display: flex;
      justify-content: space-between;
    }

    .what-content {
      width: 50%;
    }

    .what-skills {
      display: initial;
    }
  }
}