.what {
  margin: 150px 0;

  .what-title {
    @include h2;
    position: relative;
    color: $clr-secondary;
    margin-bottom: 2rem;

    &::before {
      content: "Skills";
      display: block;
      position: absolute;
      top: 3px;
      left: 3px;
      color: $clr-primary;
      z-index: -1;
    }
  }

  .what-content {
    margin-bottom: 100px;

    p {
      max-width: 600px;

      &:not(:last-child) {
        margin-bottom: 1.5rem;
      }

      span {
        font-weight: 700;
        color: $clr-primary;
      }
    }
  }

  .what-skills {
    margin-bottom: 50px;
    display: flex;
    flex-wrap: wrap;

    li {
      width: 235px;
      list-style: none;
      margin: 2rem 1rem 0rem 0;

      span {
        font-weight: 700;
        text-transform: uppercase;
        color: $clr-primary;
      }
    }
  }

  @media only screen and (min-width: 1200px) {
    .what-title {
      font-size: 5rem;
    }

    .what-content {
      font-size: 1.5rem;
    }

    .what-skills {
      font-size: 1.5rem;

      li {
        width: 350px;
      }
    }
  }

  @media only screen and (min-width: 1500px) {
    .what-title {
      font-size: 7rem;
    }

    .what-flex {
      display: flex;
      justify-content: space-between;
    }

    .what-content {
      width: 60%;
    }

    .what-skills {
      display: initial;
    }
  }
}
